# Ignore all text files
*.txt

# Ignore files related to API keys
.env

#Ingore all 3D models
Armageddon Editor/Assets/Models/*

#Ingore all Texures
Armageddon Editor/Assets/Texture/*

#Ingore all Materials
Armageddon Editor/Assets/Materials/*

