#Ignore all text files
*.txt

#Ignore files related to API keys
.env

#Ignore all 3D models
Armageddon Editor/Assets/Models/*

#Ignore all Texures
Armageddon Editor/Assets/Texture/*

#Ignore all Materials
Armageddon Editor/Assets/Materials/*

#Ignore all Includes
Armageddon 2.0/includes/*
Armageddon Editor/includes/*

#Ignore all compiler output
bin/*
bin-int/*