[submodule "Armageddon 2.0/includes/DirectXTex"]
	path = Armageddon 2.0/includes/DirectXTex
	url = https://github.com/microsoft/DirectXTex
[submodule "Armageddon 2.0/includes/ImGuizmo"]
	path = Armageddon 2.0/includes/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "Armageddon 2.0/includes/spdlog"]
	path = Armageddon 2.0/includes/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Armageddon 2.0/includes/assimp"]
	path = Armageddon 2.0/includes/assimp
	url = https://github.com/assimp/assimp
[submodule "Armageddon 2.0/includes/yaml-cpp"]
	path = Armageddon 2.0/includes/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Armageddon Editor/includes/ImGuiFileDialog"]
	path = Armageddon Editor/includes/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
[submodule "Armageddon Editor/includes/ImGuizmo"]
	path = Armageddon Editor/includes/ImGuizmo
	url = https://github.com/Alexisloic21/ImGuizmo
[submodule "Armageddon 2.0/includes/PhysX"]
	path = Armageddon 2.0/includes/PhysX
	url = https://github.com/NVIDIAGameWorks/PhysX
